<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="/pics/favicon.ico" type="image/x-icon">
        
        {% block head %}
            <title>Launchstore</title>
        {% endblock %}
    </head>
    <body>
        {% include "parts/header.njk" %}

        {% block content %}{% endblock %}

        {% include "parts/footer.njk" %}
        <script src="/scripts.js"></script>
    </body>
</html>